@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/*
font-family: "Young Serif", serif;
font-family: "Outfit", serif;
*/

* { 
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", serif;
}

h1, h2 {
    font-family: "Young Serif", serif;
}

h2 {
    color: hsl(14, 45%, 36%);
}