/*
==================================
General Style
==================================
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);

    /* Padding */
    --padding-sm-md: 0.75rem 1.5rem;

    /* Fonts */
    --font-titles: "Young Serif", serif;
    --font-text: "Outfit", serif;
}

body {
    font-family: var(--font-text);
    line-height: 1.6;
    color: var(--color-stone-600);
}

.line {
    margin: 2rem 1.5rem 0 1.5rem;
    border: 1px solid var(--color-stone-150);
}

/*
==================================
Header
==================================
*/

header img {
    width: 100%;
    height: auto;
}

header h1 {
    margin-top: 1.25rem;
    font-family: var(--font-titles);
    font-size: 2.25rem;
    padding: var(--padding-sm-md);
    line-height: 1.1;
    color: var(--color-black);
}

header p {
    padding: var(--padding-sm-md);
}

/*
==================================
Main
==================================
*/

.preparation {
    background-color: var(--color-rose-50);
    border-radius: 10px;
    margin: 1rem 2rem;
}

.preparation h2 {
    font-size: 1.25rem;
    color: var(--color-rose-800);
    padding: 1rem 1.5rem;
}

.preparation ul {
    padding-bottom: 1rem;
}

.preparation li {
    margin: 0.5rem 3rem;
    padding: 0 1rem;
}

.preparation li::marker {
    color: hsl(332, 51%, 32%);
}

.preparation span {
    font-weight: 900;
}

/*
==================================
==================================
*/

.ingredients h2 {
    font-size: 1.75rem;
    font-family: var(--font-titles);
    color: var(--color-brown-800);
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.ingredients li {
    margin: 0.5rem 3rem;
    padding: 0 1rem;
}

/*
==================================
==================================
*/

.instructions h2 {
    font-size: 1.75rem;
    font-family: var(--font-titles);
    color: var(--color-brown-800);
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.instructions li {
    margin: 0.5rem 3rem;
    padding: 0 1rem;
}

.instructions li::marker {
    color: var(--color-brown-800);
    font-weight: 900;
}

.instructions span {
    font-weight: 900;
}

/*
==================================
==================================
*/

/* 